In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from datetime import datetime

In [ ]:
data = pd.read_csv('/content/trainData.csv')
data

,Description,Vendor_Name,Created,Invoice_Date,Due_Date,Amount,Settled,Outstanding,Number_of_Days_until_Payment
0,Milk x 7 ltrs,David Taylor,26-04-2011 11:50,26-Apr-11,26-May-11,672.78,672.78,0.0,13
1,Office Stationery,Stephen Wright MD,24-05-2011 09:40,24-May-11,23-Jun-11,5101.98,5101.98,0.0,38
2,Milk x 10 ltrs,Mark Cordova,24-05-2011 12:56,24-Mar-11,23-Apr-11,7422.78,7422.78,0.0,61
3,Annual Fee,Kimberly White,09-07-2011 10:42,10-May-11,24-May-11,11.98,11.98,0.0,62
4,NaN,Teresa Marshall,05-09-2011 20:55,05-Sep-11,06-Sep-11,5501.98,5501.98,0.0,2
...,...,...,...,...,...,...,...,...,...
8748,NaN,Amy Sawyer,31-10-2017 14:40,29-Sep-17,29-Oct-17,551.98,551.98,0.0,34
8749,NaN,Edward Santiago,31-10-2017 14:44,29-Sep-17,29-Oct-17,386.98,386.98,0.0,34
8750,NaN,Angela Becker,31-10-2017 22:07,31-Oct-17,01-Nov-17,279.81,279.81,0.0,5
8751,NaN,Anna Carter,02-11-2017 10:51,23-Oct-17,06-Nov-17,145.98,145.98,0.0,10
8752,NaN,James Ayala,06-11-2017 10:01,05-Nov-17,05-Dec-17,169.98,169.98,0.0,1

In [ ]:
datatest = pd.read_csv('/content/testData.csv')
datatest

,Description,Vendor_Name,Created,Invoice_Date,Due_Date,Amount,Settled,Outstanding
0,Annual Fee,Aaron Hoffman,26-11-2015 12:38,30-Nov-15,30-Dec-15,11.98,11.98,0.0
1,NaN,Aaron Murphy,27-10-2016 10:35,06-Sep-16,06-Oct-16,56.98,56.98,0.0
2,NaN,Aaron Parks,29-02-2016 00:53,29-Feb-16,14-Mar-16,61.98,61.98,0.0
3,NaN,Aaron Thomas,27-08-2013 18:46,23-Aug-13,06-Sep-13,674.30,674.30,0.0
4,NaN,Abigail Hernandez,16-05-2017 16:48,10-May-17,09-Jun-17,302.94,302.94,0.0
...,...,...,...,...,...,...,...,...
1120,NaN,Zachary Coleman,31-08-2016 13:09,29-Aug-16,12-Sep-16,4201.98,4201.98,0.0
1121,NaN,Zachary Dudley,28-07-2014 10:43,28-Jul-14,04-Aug-14,93.18,93.18,0.0
1122,NaN,Zachary Hernandez,05-09-2017 10:14,02-Sep-17,06-Sep-17,1255.98,1255.98,0.0
1123,NaN,Zachary Simmons,02-01-2015 13:53,02-Jan-15,01-Feb-15,678.78,58.38,620.4
1124,NaN,Zachary Williams,19-05-2016 09:41,06-May-16,05-Jun-16,61.98,61.98,0.0

In [ ]:
data.describe()

             Amount       Settled   Outstanding  Number_of_Days_until_Payment
count  8.753000e+03  8.753000e+03   8753.000000                   8753.000000
mean   2.320905e+03  2.236365e+03     84.539806                     43.953616
std    1.140826e+05  1.140800e+05    791.098158                     28.149191
min    1.990000e+00  1.980000e+00      0.000000                    -23.000000
25%    8.118000e+01  7.698000e+01      0.000000                     21.000000
50%    1.901900e+02  1.819800e+02      0.000000                     42.000000
75%    6.019800e+02  5.599800e+02      0.000000                     64.000000
max    1.066667e+07  1.066667e+07  27930.000000                    141.000000

In [ ]:
data.isnull().mean()

Description                     0.855935
Vendor_Name                     0.000000
Created                         0.000000
Invoice_Date                    0.000000
Due_Date                        0.000000
Amount                          0.000000
Settled                         0.000000
Outstanding                     0.000000
Number_of_Days_until_Payment    0.000000
dtype: float64

In [ ]:
data['Outstanding'].value_counts()

0.00       8119
1000.00      20
0.01         20
6.00          8
620.40        7
           ...
6500.00       1
44.82         1
540.00        1
989.00        1
564.00        1
Name: Outstanding, Length: 484, dtype: int64

In [ ]:
x1 = np.array(data['Vendor_Name'].unique())
print(np.sort(x1))

['Aaron Frazier' 'Aaron Garcia' 'Aaron Hoffman' ... 'Zachary Thompson'
 'Zachary Warren' 'Zachary Williams']

In [ ]:
x2 = np.array(datatest['Vendor_Name'].unique())
print(np.sort(x2))

['Aaron Hoffman' 'Aaron Murphy' 'Aaron Parks' ... 'Zachary Hernandez'
 'Zachary Simmons' 'Zachary Williams']

In [ ]:
# data.drop(columns = 'Description', inplace = True)
# datatest.drop(columns = 'Description', inplace = True)

In [ ]:
x1 = np.array(data['Vendor_Name'].unique())
print(x1)
f_map = dict()
for i in range(x1.size):
  f_map[x1[i]] = i+1

print(f_map)

['David Taylor' 'Stephen Wright MD' 'Mark Cordova' ... 'Angela Becker'
 'Anna Carter' 'James Ayala']

In [ ]:
def preprocess(a):
  a.drop(columns = 'Description', inplace = True)
  a['Vendor_Name'] = a['Vendor_Name'].map(f_map)
  a['Created'] = pd.to_datetime(a['Created'])
  a['Created_date'] = a['Created'].dt.date
  a['Created_time'] = a['Created'].dt.time
  a['Invoice_Date'] = pd.to_datetime(a['Invoice_Date'])
  a['Due_Date'] = pd.to_datetime(a['Due_Date'])
  a.drop(columns = 'Created', inplace = True)
  a['Created_date'] = pd.to_datetime(a['Created_date'])
  a['Created_time'] = pd.to_datetime(a['Created_time'].astype(str))
  a['Created_year'] = a['Created_date'].dt.year
  a['Created_month'] = a['Created_date'].dt.month
  a['Invoice_year'] = a['Invoice_Date'].dt.year
  a['Invoice_month'] = a['Invoice_Date'].dt.month
  a['Due_year'] = a['Due_Date'].dt.year
  a['Due_month'] = a['Due_Date'].dt.month
  a['Created_day'] = a['Created_date'].dt.day_of_week
  a['Invoice_day'] = a['Invoice_Date'].dt.day_of_week
  a['Due_day'] = a['Due_Date'].dt.day_of_week
  a['Created_hour'] = a['Created_time'].dt.hour
  a['Created_minutes'] = a['Created_time'].dt.minute
  a['InvDueDiff']=(a['Invoice_Date']-a['Due_Date']).dt.days
  a['DueCreaDiff']=(a['Due_Date']-a['Created_date']).dt.days
  a['InvDueDiff']=(a['Created_date']-a['Invoice_Date']).dt.days
  a.drop(columns = ['Created_date', 'Invoice_Date', 'Due_Date', 'Created_time'], inplace = True)
  a = a.astype(float)
  return a

In [ ]:
# data['Vendor_Name'] = data['Vendor_Name'].map(f_map)
# datatest['Vendor_Name'] = datatest['Vendor_Name'].map(f_map)

In [ ]:
#data['Created'] = pd.to_datetime(data['Created'])

In [ ]:
#data['Created_date'] = data['Created'].dt.date

In [ ]:
#data['Created_time'] = data['Created'].dt.time

In [ ]:
#data['Invoice_Date'] = pd.to_datetime(data['Invoice_Date'])

In [ ]:
#data['Due_Date'] = pd.to_datetime(data['Due_Date'])

In [ ]:
#data.drop(columns = 'Created', inplace = True)

In [ ]:
# data['Created_date'] = pd.to_datetime(data['Created_date'])
# data['Created_time'] = pd.to_datetime(data['Created_time'].astype(str))
# data['Created_year'] = data['Created_date'].dt.year
# data['Created_month'] = data['Created_date'].dt.month
# data['Invoice_year'] = data['Invoice_Date'].dt.year
# data['Invoice_month'] = data['Invoice_Date'].dt.month
# data['Due_year'] = data['Due_Date'].dt.year
# data['Due_month'] = data['Due_Date'].dt.month
# data['Created_day'] = data['Created_date'].dt.day_of_week
# data['Invoice_day'] = data['Invoice_Date'].dt.day_of_week
# data['Due_day'] = data['Due_Date'].dt.day_of_week
# data['Created_hour'] = data['Created_time'].dt.hour
# data['Created_minutes'] = data['Created_time'].dt.minute
# data.drop(columns = ['Created_date', 'Invoice_Date', 'Due_Date', 'Created_time'], inplace = True)

In [ ]:
#data = data.astype(float)

In [ ]:
data = preprocess(data)
ID=datatest['Vendor_Name'].astype(str)
datatest = preprocess(datatest)

In [ ]:
data.shape

(8753, 18)

In [ ]:
Y = data['Number_of_Days_until_Payment']
X = data.drop(columns = 'Number_of_Days_until_Payment')


X_final =  datatest

In [ ]:
Y

0       13.0
1       38.0
2       61.0
3       62.0
4        2.0
        ...
8748    34.0
8749    34.0
8750     5.0
8751    10.0
8752     1.0
Name: Number_of_Days_until_Payment, Length: 8753, dtype: float64

In [ ]:
def getDataframe(ID, pred):
    sub=pd.DataFrame([ID, pred])
    sub=sub.transpose()
    sub.columns=['Vendor_Name', 'Number_of_Days_until_Payment']
    sub['Vendor_Name']=sub['Vendor_Name'].astype(str)
    sub.to_csv('Data warriors(mausam_03).csv', index=False)
    
    
    return sub

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [ ]:

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

gbr_params = {'n_estimators': 4200,
          'max_depth': 8,
          'min_samples_split': 5,
          'learning_rate': 0.02,
          'loss': 'ls'}

gbr = GradientBoostingRegressor(**gbr_params)
gbr.fit(X_train_std, Y_train)

print(gbr.score(X_test_std, Y_test))
X_std=sc.transform(X_final)
pred=gbr.predict(X_std)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:290: FutureWarning: The loss 'ls' was deprecated in v1.0 and will be removed in version 1.2. Use 'squared_error' which is equivalent.
  FutureWarning,

0.29013623743645967

In [ ]:
print(getDataframe(ID, pred))

            Vendor_Name Number_of_Days_until_Payment
0         Aaron Hoffman                    10.793499
1          Aaron Murphy                     53.86661
2           Aaron Parks                    44.984239
3          Aaron Thomas                    42.463512
4     Abigail Hernandez                    29.397242
...                 ...                          ...
1120    Zachary Coleman                    31.858396
1121     Zachary Dudley                    31.665971
1122  Zachary Hernandez                    46.207591
1123    Zachary Simmons                    38.403344
1124   Zachary Williams                    45.205628

[1125 rows x 2 columns]

In [ ]:
getDataframe(ID, pred).set_index('Vendor_Name').to_csv('sub_mtap_test.csv')

In [ ]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [ ]:
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)
data_dmatrix = xgb.DMatrix(data=X_train_std,label=Y_train)

In [ ]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
xg_reg.fit(X_train_std,Y_train)

preds = xg_reg.predict(X_test_std)

[19:40:24] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
rmse = np.sqrt(mean_squared_error(Y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 30.403408

In [ ]:
X_std=sc.transform(X_final)
pred= xg_reg.predict(X_std)
#print(getDataframe(ID, pred))